@model IEnumerable<AppRole>

<table class="table table-sm table-bordered">
    <tr>
        <th>Id</th>
        <th>Role Name</th>
        <th>Users</th>
        <th style="width:125px;"></th>
    </tr>

    @if (Model == null || !Model.Any())
    {
        <tr><td colspan="4" class="text-center">No Role</td></tr>
    }
    else
    {
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td asp-role-users="@i.Name"></td> @* alternatif: asp-role-users="@i.Id" *@
                <td>
                    <form method="post">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>